.Lilas,.refino.filtro_cor label.sr_lilas input,.skuespec_Cor_opcao_Lilas {
  background-color: #c8a2c8
}

.Amarelo,.refino.filtro_cor label.sr_amarelo input,.skuespec_Cor_opcao_Amarelo {
  background-color: #efe296
}

.Azul,.refino.filtro_cor label.sr_azul input,.skuespec_Cor_opcao_Azul {
  background-color: #4876ff
}

.azul.jeans,.refino.filtro_cor label.sr_Petroleo input,.skuespec_Azul-Jeans input,.skuespec_Cor_opcao_Azul-Jeans, .sr_azul-jeans input {
  background: url(/arquivos/jeans.jpg) no-repeat!important;
  display: inline-block;
}

.Preto-e-Branco,.refino.filtro_cor label.sr_Preto-e-Branco input,.skuespec_Cor_opcao_Preto-e-Branco {
  background: url(/arquivos/Thumb-pretobranco.jpg) no-repeat!important;
  display: inline-block;
}

.Chumbo,.refino.filtro_cor label.sr_chumbo input,.skuespec_Chumbo input,.skuespec_Cor_opcao_Chumbo {
  background-color: #595d66
}

.Petroleo, .Petróleo, .refino.filtro_cor label.sr_petróleo input,.skuespec_Cor_opcao_Petroleo input,.skuespec_Petroleo {
  background-color: #446e7c
}

.amarelo-escuro,.refino.filtro_cor label.sr_amarelo-escuro input,.skuespec_Cor_opcao_amarelo-escuro {
  background-color: #fd8a6f
}

.Laranja-Escuro,.refino.filtro_cor label.sr_Laranja-Escuro input,.skuespec_Cor_opcao_Laranja-Escuro {
  background-color: #fd8a6f
}

.Azul.Bebe,.Azul.Bebê,.refino.filtro_cor label.sr_azul-bebe input,.skuespec_Cor_opcao_Azul-Bebe input,.skuespec_Cor_opcao_Azul-Bebê {
  background-color: #bfefff
}

.Azul.Claro, .Azul-Claro, .refino.filtro_cor label.sr_azul-claro input,.skuespec_Cor_opcao_Azul-Claro {
  background-color: #00bfff
}

.Azul.Escuro,.Azul-Escuro, .refino.filtro_cor label.sr_azul-escuro input,.skuespec_Cor_opcao_Azul-Escuro {
  background-color: #0000cd
}

.Goiaba,.refino .cor .sr_goiaba .sr_box input,.skuespec_Cor_opcao_Goiaba {
  background: #a64a55
}

.Azul.Marinho,.Azul.marinho, .Azul-marinho,.Azul-Marinho, .refino.filtro_cor label.sr_azul-marinho input,.skuespec_Cor_opcao_Azul-marinho {
  background-color: #1e2e50
}

.Azul.Piscina, .Azul-Piscina, .Azul-piscina, .refino.filtro_cor label.sr_azul-piscina input,.skuespec_Cor_opcao_Azul-Piscina {
  background-color: #0096b1
}

.Azul.Royal,.Azul-Royal, .refino.filtro_cor label.sr_azul-royal input,.skuespec_Cor_opcao_Azul-Royal {
  background-color: #0c336f
}

.Azul.Turquesa,.Azul-Turquesa, .Turquesa,.refino.filtro_cor label.sr_azul-turquesa input,.skuespec_Cor_opcao_Azul-Turquesa {
  background-color: #00bfff
}

.Bege,.refino.filtro_cor label.sr_bege input,.skuespec_Cor_opcao_Bege {
  background-color: #dec5a8
}

.Black,.refino.filtro_cor label.sr_black input,.skuespec_Cor_opcao_Black {
  background-color: #000
}

.Black.Jeans, .Black-Jeans, .refino.filtro_cor label.sr_Black-Jeans input,.skuespec_Cor_opcao_Black-Jeans {
  background: url(/arquivos/black_jeans.jpg) no-repeat!important;
  display: inline-block;
}

.Bordo,.Bordô,.Vermelho.Bordo,.Vermelho.Bordô,.refino.filtro_cor label.sr_bordo input,.skuespec_Cor_opcao_Bordo, .sr_bordô input {
  background-color: #d8002a
}

.Branco,.refino.filtro_cor label.sr_branco input,.skuespec_Cor_opcao_Branco {
  background-color: #fff;
  border: 1px solid #000 !important;
}

.Cafe,.Café,.refino.filtro_cor label.sr_café input,.skuespec_Cor_opcao_Cafe {
  background-color: #4c4241
}

.Cinza,.refino.filtro_cor label.sr_cinza input,.skuespec_Cor_opcao_Cinza {
  background-color: #dbdbdb
}

.Cinza.Claro, .Cinza-Claro, .refino.filtro_cor label.sr_cinza-claro input,.skuespec_Cor_opcao_Cinza-Claro {
  background-color: #cfcfcf
}

.Cinza.Escuro, .Cinza-Escuro, .refino.filtro_cor label.sr_cinza-escuro input,.skuespec_Cor_opcao_Cinza-Escuro {
  background-color: #5b5b5b
}

.Cereja, label.sr_cereja input,.skuespec_Cor_opcao_Cereja {
  background-color: #d0344d;
}

.Cobra,.refino.filtro_cor label.sr_cobra input,.skuespec_Cor_opcao_Cobra {
  background: url(/arquivos/cobra.jpg) no-repeat!important;
  display: inline-block;
}

.Coral,.refino.filtro_cor label.sr_coral input,.skuespec_Cor_opcao_Coral {
  background-color: #ff4856
}

.Damasco,.refino.filtro_cor label.sr_damasco input,.skuespec_Cor_opcao_Damasco {
  background-color: #ff4500
}

.Hortencia,.refino.filtro_cor label.sr_hortencia input,.skuespec_Cor_opcao_Hortencia {
  background-color: #e066ff
}

.Ivory,.refino.filtro_cor label.sr_ivory input,.skuespec_Cor_opcao_Ivory {
  background-color: #eeeee0
}

.Jeans,.refino.filtro_cor label.sr_jeans input,.skuespec_Cor_opcao_Jeans {
  background: url(/arquivos/jeans.jpg) no-repeat!important;
  display: inline-block;
}

.Khaki,.refino.filtro_cor label.sr_khaki input,.skuespec_Cor_opcao_Khaki {
  background-color: #d1c6aa
}

.Khaki.Claro, .Khaki-Claro, .refino.filtro_cor label.sr_khaki-claro input,.skuespec_Cor_opcao_Khaki-Claro {
  background-color: #dcd0c4
}

.Khaki.Escuro, .Khaki-Escuro, .refino.filtro_cor label.sr_khaki-escuro input,.skuespec_Cor_opcao_Khaki-Escuro {
  background-color: #7f5e3d
}

.Lilás,.refino.filtro_cor label.sr_lilas input,.skuespec_Cor_opcao_Lilas input,.skuespec_Cor_opcao_Lilás {
  background-color: #e066ff
}

.Lilás.Escuro, .Lilás-Escuro, .refino.filtro_cor label.sr_lilas-escuro input,.skuespec_Cor_opcao_Lilas-Escuro input,.skuespec_Cor_opcao_Lilás-Escuro {
  background-color: #756ab9
}

.Laranja,.refino.filtro_cor label.sr_laranja input,.skuespec_Cor_opcao_Laranja {
  background-color: #fa9c5f
}

.Mescla,.refino.filtro_cor label.sr_mescla input,.skuespec_Cor_opcao_Mescla {
  background-color: #8b8378
}

.Marrom,.refino.filtro_cor label.sr_marrom input,.skuespec_Cor_opcao_Marrom {
  background-color: #796356
}

.Amarelo.Mostarda, .Amarelo-Mostarda, .refino.filtro_cor label.sr_Amarelo-Mostarda input,.skuespec_Cor_opcao_Amarelo-Mostarda {
  background-color: #b18d06
}

.Onça,.refino.filtro_cor label.sr_onca input,.skuespec_Cor_opcao_Onca {
  background: url(/arquivos/onca.jpg) no-repeat!important;
  display: inline-block;
}

.Pink,.refino.filtro_cor label.sr_pink input,.skuespec_Cor_opcao_Pink {
  background-color: #f1025f
}

.Preto,.refino.filtro_cor label.sr_preto input,.skuespec_Cor_opcao_Preto {
  background-color: #000
}

.Rosa,.refino.filtro_cor label.sr_rosa input,.skuespec_Cor_opcao_Rosa {
  background-color: #ff69b4
}

.Rosa.Claro,.refino.filtro_cor label.sr_rosa-claro input,.skuespec_Cor_opcao_Rosa-Claro {
  background-color: #f3cedf
}

.Roxo,.refino.filtro_cor label.sr_roxo input,.skuespec_Cor_opcao_Roxo {
  background-color: #8a2be2
}

.Salmao, .skuespec_Salmao, .Salmão,.refino.filtro_cor label.sr_salmao input,.skuespec_Cor_opcao_Salmao input,.skuespec_Cor_opcao_Salmão {
  background-color: #ebc7ad
}

.Verde,.refino.filtro_cor label.sr_verde input,.skuespec_Cor_opcao_Verde {
  background-color: #2a4d37
}

.Verde.Agua,.Verde-água, .Verde-Agua, .Verde.água,.refino.filtro_cor label.sr_verde-água input,.skuespec_Cor_opcao_Verde-Agua {
  background-color: #b7e2d4
}

.Verde.Abacate,.refino.filtro_cor label.sr_verde-abacate input,.skuespec_Cor_opcao_Verde-Abacate {
  background-color: #bdc691
}

.Verde-Claro,.refino.filtro_cor label.sr_verde-claro input,.skuespec_Cor_opcao_Verde-Claro {
  background-color: #9dead6
}

.Verde.Escuro,.Verde-Escuro ,.refino.filtro_cor label.sr_verde-escuro input,.skuespec_Cor_opcao_Verde-Escuro {
  background-color: #2d342a
}

.Verde.Mar,.Verde-Mar, .refino.filtro_cor label.sr_verde-mar input,.skuespec_Cor_opcao_Verde-Mar {
  background-color: #05978c
}

.Verde.Militar, .Verde-Militar, .refino.filtro_cor label.sr_verde-militar input,.skuespec_Cor_opcao_Verde-Militar {
  background-color: #676d5f
}

.Verde.Musgo, .Verde-Musgo, .refino.filtro_cor label.sr_verde-musgo input,.skuespec_Cor_opcao_Verde-Musgo {
  background-color: #6b8e23
}

.Vermelho,.refino.filtro_cor label.sr_vermelho input,.skuespec_Cor_opcao_Vermelho {
  background-color: red
}

.Vinho,.refino.filtro_cor label.sr_vinho input,.skuespec_Cor_opcao_Vinho {
  background-color: #8b0000
}

.Vinho.Red,.refino.filtro_cor label.sr_vinho-red input,.skuespec_Cor_opcao_Vinho-Red {
  background-color: #d8002a
}

.Violeta,.refino.filtro_cor label.sr_violeta input,.skuespec_Cor_opcao_Violeta {
  background-color: #7f2549
}

.Zebra,.refino.filtro_cor label.sr_zebra input,.skuespec_Cor_opcao_Zebra {
  background: url(/arquivos/zebra.jpg) no-repeat!important;
  display: inline-block;
}

.Tigre,.refino.filtro_cor label.sr_tigre input,.skuespec_Cor_opcao_Tigre {
  background: url(/arquivos/thumb-tigre.jpg) no-repeat!important;
  display: inline-block;
}

.Verde.cacto,.refino.filtro_cor label.sr_Verde-cacto input,.skuespec_Cor_opcao_Verde-cacto {
  background-color: #7ac853
}

.Amarelo.Escuro, .Amarelo-Escuro, .refino.filtro_cor label.sr_Amarelo-Escuro input,.skuespec_Cor_opcao_Amarelo-Escuro {
  background-color: #deb311
}

.Mostarda,.refino.filtro_cor label.sr_Mostarda input,.skuespec_Cor_opcao_Mostarda {
  background-color: #b18d06
}

.Verdeagua,.refino.filtro_cor label.sr_Verdeagua input,.skuespec_Cor_opcao_Verdeagua {
  background-color: #9cd1cb
}

.Amarelo-claro,.refino.filtro_cor label.sr_Amarelo-claro input,.skuespec_Cor_opcao_Amarelo-claro {
  background-color: #c5c177
}

.skuespec_Cor_opcao_bermuda-cargo-branco {
  background: url(/arquivos/bermuda_cargo-branco.jpg) no-repeat!important;
  display: inline-block;
}

.skuespec_Cor_opcao_shorts-floral-vermelho {
  background: url(/arquivos/shorts_floral-vermelho.jpg) no-repeat!important;
  display: inline-block;
}

.skuespec_Cor_opcao_shorts-floral-amarelo {
  background: url(/arquivos/shorts_floral-amarelo.jpg) no-repeat!important;
  display: inline-block;
}

.skuespec_Cor_opcao_shorts-nylon-azulescuro {
  background: url(/arquivos/shorts_nylon-azulescuro.jpg) no-repeat!important;
  display: inline-block;
}

.skuespec_Cor_opcao_shorts-nylon-azulmarinho {
  background: url(/arquivos/shorts_nylon-azulmarinho.jpg) no-repeat!important;
  display: inline-block;
}

.skuespec_Cor_opcao_shorts-nylon-bege {
  background: url(/arquivos/shorts_nylon-bege.jpg) no-repeat!important;
  display: inline-block;
}

.skuespec_Cor_opcao_shorts-nylon-kakhiclaro {
  background: url(/arquivos/shorts_nylon-kakhiclaro.jpg) no-repeat!important;
  display: inline-block;
}

.skuespec_Cor_opcao_shorts-nylon-verde {
  background: url(/arquivos/shorts_nylon-verde.jpg) no-repeat!important;
  display: inline-block;
}

.skuespec_Cor_opcao_shorts-nylon-vermelho {
  background: url(/arquivos/shorts_nylon-vermelho.jpg) no-repeat!important;
  display: inline-block;
}

.skuespec_Cor_opcao_bermuda-sarja-bege {
  background: url(/arquivos/bermuda_sarja-bege.jpg) no-repeat!important;
  display: inline-block;
}

.skuespec_Cor_opcao_bermuda-sarja-kakhi-claro {
  background: url(/arquivos/bermuda_sarja-kakhiclaro.jpg) no-repeat!important;
  display: inline-block;
}

.skuespec_Cor_opcao_bermuda-sarja-kakhi-escuro {
  background: url(/arquivos/bermuda_sarja-kakhiescuro.jpg) no-repeat!important;
  display: inline-block;
}

.skuespec_Cor_opcao_bermuda-sarja-verde-militar {
  background: url(/arquivos/bermuda_sarja-verdemilitar.jpg) no-repeat!important;
  display: inline-block;
}

.skuespec_Cor_opcao_bermuda-cargo-preta {
  background: url(/arquivos/bermuda_cargo-preta.jpg) no-repeat!important;
  display: inline-block;
}

.skuespec_Cor_opcao_polo-lisa-preto {
  background-color: #171314
}

.skuespec_Cor_opcao_polo-lisa-rosa {
  background-color: #fcd4ef
}

.skuespec_Cor_opcao_polo-lisa-roxo {
  background-color: #6550c7
}

.skuespec_Cor_opcao_polo-lisa-verde {
  background-color: #045333
}

.skuespec_Cor_opcao_polo-lisa-verde-agua {
  background-color: #7ae7c8
}

.skuespec_Cor_opcao_polo-lisa-verde-claro {
  background-color: #a7f29d
}

.skuespec_Cor_opcao_polo-lisa-vermelha {
  background-color: #d40322
}

.skuespec_Cor_opcao_polo-lisa-vinho {
  background-color: #7b1254
}

.skuespec_Cor_opcao_polo-lisa-amarela {
  background-color: #fbf6b4
}

.skuespec_Cor_opcao_polo-lisa-azul-bebe {
  background-color: #61cdf4
}

.skuespec_Cor_opcao_polo-lisa-polo_lisa-azul-claro {
  background-color: #3a94ec
}

.skuespec_Cor_opcao_polo-lisa-azul-escuro {
  background-color: #03285c
}

.skuespec_Cor_opcao_polo-lisa-azul-piscina {
  background-color: #05afd2
}

.skuespec_Cor_opcao_polo-lisa-branco {
  background-color: #f4f3f9
}

.skuespec_Cor_opcao_polo-lisa-cinza {
  background-color: #999fb5
}

.skuespec_Cor_opcao_polo-lisa-ivory {
  background-color: #e9eef2
}

.skuespec_Cor_opcao_polo-lisa-lilas {
  background-color: #d9c0f9
}

.skuespec_Cor_opcao_polo-lisa-Lilás-claro input,.skuespec_Cor_opcao_polo-lisa-lilas-claro {
  background-color: #c3b5cf
}

.skuespec_Cor_opcao_polo-lisa-lilas-escuro {
  background-color: #726cb4
}

.skuespec_Cor_opcao_polo-lisa-marinho {
  background-color: #121a2e
}

.skuespec_Cor_opcao_polo-lisa-mostarda {
  background-color: #c79852
}

.skuespec_Cor_opcao_polo-lisa-pink {
  background-color: #f798c4
}

.skuespec_Cor_opcao_polo-lisa-verdeflorida {
  background-color: #50816e
}

.skuespec_Cor_opcao_polo-lisa-coral {
  background-color: #d26467
}

.skuespec_Cor_opcao_polo-lisa-laranja {
  background-color: #b74b3f
}

.skuespec_Cor_opcao_polo-lisa-chocolate {
  background-color: #2d221c
}

.skuespec_Cor_opcao_polo-lisa-verdemusgo {
  background-color: #1e3030
}

.skuespec_Cor_opcao_polo-lisa-verdemilitar {
  background-color: #6f7b4d
}

.skuespec_Cor_opcao_polo-lisa-amareloescuro {
  background-color: #fdc787
}

.refino.filtro_cor label.sr_amarelo1 input,.skuespec_Cor_opcao_Amarelo1 {
  background-color: #ead67f
}

.refino.filtro_cor label.sr_amarelo2 input,.skuespec_Cor_opcao_Amarelo2 {
  background-color: #fde792
}

.refino.filtro_cor label.sr_azul1 input,.skuespec_Cor_opcao_Azul1 {
  background-color: #0d2144
}

.Azul.Agua,.refino.filtro_cor label.sr_azul-Agua input,.skuespec_Cor_opcao_Azul-Agua {
  background-color: #7eaac3
}

.refino.filtro_cor label.sr_azul4 input,.skuespec_Cor_opcao_Azul4 {
  background-color: #81b8df
}

.refino.filtro_cor label.sr_azul5 input,.skuespec_Cor_opcao_Azul5 {
  background-color: #101229
}

.refino.filtro_cor label.sr_cinza1 input,.skuespec_Cor_opcao_Cinza1 {
  background-color: #73767f
}

.refino.filtro_cor label.sr_lilas1 input,.skuespec_Cor_opcao_Lilas1 input,.skuespec_Cor_opcao_Lilás1 {
  background-color: #c7b0cc
}

.refino.filtro_cor label.sr_lilas2 input,.skuespec_Cor_opcao_Lilas2 input,.skuespec_Cor_opcao_Lilás2 {
  background-color: #edb7eb
}

.refino.filtro_cor label.sr_rosa1 input,.skuespec_Cor_opcao_Rosa1 {
  background-color: #f6cece
}

.refino.filtro_cor label.sr_rosa2 input,.skuespec_Cor_opcao_Rosa2 {
  background-color: #fabbd0
}

.refino.filtro_cor label.sr_rosa3 input,.skuespec_Cor_opcao_Rosa3 {
  background-color: #f670b5
}

.refino.filtro_cor label.sr_rosa4 input,.skuespec_Cor_opcao_Rosa4 {
  background-color: #c82974
}

.refino.filtro_cor label.sr_rosa5 input,.skuespec_Cor_opcao_Rosa5 {
  background-color: #ff4b80
}

.refino.filtro_cor label.sr_roxo1 input,.skuespec_Cor_opcao_Roxo1 {
  background-color: #3e2e52
}

.refino.filtro_cor label.sr_roxo2 input,.skuespec_Cor_opcao_Roxo2 {
  background-color: #3c3054
}

.refino.filtro_cor label.sr_verde1 input,.skuespec_Cor_opcao_Verde1 {
  background-color: #2ea555
}

.refino.filtro_cor label.sr_verde2 input,.skuespec_Cor_opcao_Verde2 {
  background-color: #52888a
}

.refino.filtro_cor label.sr_verde3 input,.skuespec_Cor_opcao_Verde3 {
  background-color: #52b191
}

.refino.filtro_cor label.sr_verde4 input,.skuespec_Cor_opcao_Verde4 {
  background-color: #1e3135
}

.refino.filtro_cor label.sr_vermelho1 input,.skuespec_Cor_opcao_Vermelho1 {
  background-color: #dd0127
}

.refino.filtro_cor label.sr_vermelho2 input,.skuespec_Cor_opcao_Vermelho2 {
  background-color: #c5475f
}

.refino.filtro_cor label.sr_bege1 input,.skuespec_Cor_opcao_Bege1 {
  background-color: #eeefe7
}

.refino.filtro_cor label.sr_verde5 input,.skuespec_Cor_opcao_Verde5 {
  background-color: #6d7665
}

.refino.filtro_cor label.sr_marrom1 input,.skuespec_Cor_opcao_Marrom1 {
  background-color: #a58671
}

.refino.filtro_cor label.sr_marrom2 input,.skuespec_Cor_opcao_Marrom2 {
  background-color: #d6cabe
}

.refino.filtro_cor label.sr_verder6 input,.skuespec_Cor_opcao_Verde6 {
  background-color: #74ba7c
}

.refino.filtro_cor label.sr_amarelo3 input,.skuespec_Cor_opcao_Amarelo3 {
  background-color: #e6ce9e
}

.refino.filtro_cor label.sr_bege3 input,.skuespec_Cor_opcao_Bege3 {
  background-color: #dbdcd6
}

.refino.filtro_cor label.sr_azul8 input,.skuespec_Cor_opcao_Azul8 {
  background-color: #6477a2
}

.refino.filtro_cor label.sr_cru input,.skuespec_Cor_opcao_Cru {
  background-color: #dbdbdb
}

.refino.filtro_cor label.sr_fendi input,.skuespec_Cor_opcao_Fendi {
  background-color: #433128
}

.refino.filtro_cor label.sr_laranja-claro input,.skuespec_Cor_opcao_laranja-claro {
  background-color: #ef9f65
}

.refino.filtro_cor label.sr_turquesa input,.skuespec_Cor_opcao_Turquesa {
  background-color: #36acb8
}

.refino.filtro_cor label.sr_azul10 input,.skuespec_Cor_opcao_Azul10 {
  background-color: #abc5f6
}

.refino.filtro_cor label.sr_azul11 input,.skuespec_Cor_opcao_Azul11 {
  background-color: #afb8c9
}

.refino.filtro_cor label.sr_azul12 input,.skuespec_Cor_opcao_Azul12 {
  background-color: #7c7fa0
}

.refino.filtro_cor label.sr_azul13 input,.skuespec_Cor_opcao_Azul13 {
  background-color: #8892c5
}

.refino.filtro_cor label.sr_azul14 input,.skuespec_Cor_opcao_Azul14 {
  background-color: #6f9ac7
}

.refino.filtro_cor label.sr_azul15 input,.skuespec_Cor_opcao_Azul15 {
  background-color: #5e8ae1
}

.refino.filtro_cor label.sr_azul16 input,.skuespec_Cor_opcao_Azul16 {
  background-color: #1a1c31
}

.refino.filtro_cor label.sr_azul17 input,.skuespec_Cor_opcao_Azul17 {
  background-color: #90b4ee
}

.refino.filtro_cor label.sr_azul2 input,.skuespec_Cor_opcao_Azul2 {
  background-color: #222e3c
}

.refino.filtro_cor label.sr_azul6 input,.skuespec_Cor_opcao_Azul6 {
  background-color: #0760c8
}

.refino.filtro_cor label.sr_azul7 input,.skuespec_Cor_opcao_Azul7 {
  background-color: #384766
}

.refino.filtro_cor label.sr_Azul-Sky input,.skuespec_Cor_opcao_Azul-Sky {
  background-color: #29547f
}

.refino.filtro_cor label.sr_cinza4 input,.skuespec_Cor_opcao_Cinza4 {
  background-color: #c7c5ca
}

.refino.filtro_cor label.sr_cinza2 input,.skuespec_Cor_opcao_Cinza2 {
  background-color: #706e6f
}

.refino.filtro_cor label.sr_cinza3 input,.skuespec_Cor_opcao_Cinza3 {
  background-color: #3e403d
}

.refino.filtro_cor label.sr_laranja1 input,.skuespec_Cor_opcao_Laranja1 {
  background-color: #e4573c
}

.refino.filtro_cor label.sr_lilas3 input,.skuespec_Cor_opcao_Lilás3 {
  background-color: #dddae5
}

.refino.filtro_cor label.sr_lilas4 input,.skuespec_Cor_opcao_Lilás4 {
  background-color: #c6b8cf
}

.refino.filtro_cor label.sr_rosa8 input,.skuespec_Cor_opcao_Rosa8 {
  background-color: #ffced2
}

.refino.filtro_cor label.sr_rosa7 input,.skuespec_Cor_opcao_Rosa7 {
  background-color: #da6e85
}

.refino.filtro_cor label.sr_rosa6 input,.skuespec_Cor_opcao_Rosa6 {
  background-color: #cf53c1
}

.refino.filtro_cor label.sr_verde7 input,.skuespec_Cor_opcao_Verde7 {
  background-color: #528679
}

.refino.filtro_cor label.sr_verde8 input,.skuespec_Cor_opcao_Verde8 {
  background-color: #44b587
}

.refino.filtro_cor label.sr_verde9 input,.skuespec_Cor_opcao_Verde9 {
  background-color: #b5e694
}

.refino.filtro_cor label.sr_verde10 input,.skuespec_Cor_opcao_Verde10 {
  background-color: #acc38b
}

.refino.filtro_cor label.sr_vermelho3 input,.skuespec_Cor_opcao_Vermelho3 {
  background-color: #be4c4b
}

.refino.filtro_cor label.sr_vinho1 input,.skuespec_Cor_opcao_Vinho1 {
  background-color: #431a1e
}

.refino.filtro_cor label.sr_verde-limao input,.skuespec_Cor_opcao_verde-limao {
  background-color: #b4ff00
}

.camelia,.refino.filtro_cor label.sr_camelia input,.skuespec_Cor_opcao_camelia {
  background-color: #ff78be
}

.ALECRIM,.Alecrim,.refino.filtro_cor label.sr_Alecrim input,.skuespec_Cor_opcao_Alecrim {
  background-color: #48a27d
}

.Vermelho.Alerta,.refino.filtro_cor label.sr_Vermelho-Alerta input,.skuespec_Cor_opcao_Vermelho-Alerta {
  background-color: #b80808
}

.Uva,.refino.filtro_cor label.sr_uva input,.skuespec_Cor_opcao_Uva {
  background-color: #361b28
}

.skuespec_Cor_opcao_Black-Jeans {
  background: url(/arquivos/black_jeans.jpg) no-repeat!important;
  display: inline-block;
}

.skuespec_Cor_opcao_blusa-animal-cobra {
  background: url(/arquivos/blusa_animal-cobra.jpg) no-repeat!important;
  display: inline-block;
}
