.e-minicart {
  width: 35%;
  max-width: 395px;
  position: fixed;
  height: 100vh;
  right: -100%;
  transition: all ease-in-out 0.5s;
  z-index: 99999999;
  top: 0;
  font-family: Lato;
  background: #fff;

  @include breakpoint("tablet") {
    width: 80%;
    max-width: none;
  }

  @include breakpoint("mobile") {
    width: 100%;
    max-width: none;
  }

  &.is--active {
    right: 0;
    transition: all ease-in-out 0.5s;
  }

  &__group {}

  &__header {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
    border-bottom: 1px solid #dbdbdb;

    h3 {
      font-size: 23px;
      text-transform: uppercase;
      display: block;
      padding: 20px 0;
      color: #393939;
      background: #fff;
      letter-spacing: 1px;
      width: 100%;
      text-align: center;
      font-weight: 600;
      font-family: Lato;
    }

    .e-minicart__header-close {
      background: none;
      border: none;
      position: absolute;
      right: 5.5%;
      cursor: pointer;
      font-family: auto;

      &:after {
        content: "+";
        font-size: 55px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        display: inline-block;
        font-weight: 100;
        color: #000;
      }
    }
  }

  &__products {
    float: left;
    width: 100%;
    position: relative;

    .product-list {
      float: left;
      overflow-x: hidden;
      overflow-y: auto;
      min-height: 140px;
      max-height: calc(100vh - 390px);
      width: 95%;
      margin: 0 2%;
      background: #ffffff;
      -webkit-border-radius: 12px;
      border-radius: 12px;
      padding-right: 20px;
      padding-bottom: 50px;
      margin-right: 0;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background: #e7e7e7;

        background-clip: content-box;
      }

      &::-webkit-scrollbar-thumb {
        background: #c8c8c8;
      }

      .row {
        width: 100%;
        position: relative;
        float: left;
        min-height: 140px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(235, 235, 235);

        &:last-child {
          border-bottom: none;
        }

        .col {
          &-0 {
            display: flex;
            align-items: flex-start;

            ._qc-img {
              float: left;
              width: 120px;
              position: relative;
              top: 10px;

              img {
                width: 110px;
                height: auto;
                display: block;
                padding: 10px;
              }
            }

            ._qc-product {
              // white-space: nowrap;
              // overflow: hidden;
              // -o-text-overflow: ellipsis;
              // text-overflow: ellipsis;
              // -webkit-line-clamp: 2;
              // -webkit-box-orient: vertical;
              height: 12px;
              color: #393939;
              font-size: 12px;
              margin-bottom: 10px;
              margin-bottom: 0.625rem;
              width: 68%;
              margin-top: 30px;
              text-transform: uppercase;
              letter-spacing: 1px;
              font-family: Lato;
              font-weight: 600;
            }
          }

          &-1 {
            width: 100px;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 37.6%;
            top: 75%;
            transform: translate(0, -45%);
            z-index: 2;
            display: flex;
            border: 1px solid #2a2a2a;
            background: #fff !important;

            @include breakpoint("tablet") {
              right: 60.5%;
            }

            @include breakpoint("mobile") {
              right: 34.6% !important;
            }

            a {
              font-size: 20px;
              cursor: pointer;
              font-weight: 800;
              width: 100%;
              color: #2a2a2a;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 8px 0;
            }

            ._remove {}

            ._add {}

            ._qty {
              width: 30px;
              display: block;
              text-align: center;
              font-size: 14px;
              color: #000000;
              letter-spacing: 0.5px;
              margin: 0 5px;
              position: relative;
              top: 0;
              font-weight: bold;
            }
          }

          &-2 {
            position: absolute;
            left: 105px;
            top: 67%;
            width: 100%;
            text-align: center;
            font-size: 16px;
            font-weight: 700;
            color: #000;
            display: block;
            font-family: Lato;
            letter-spacing: 1px;
          }

          &-3 {
            position: absolute;
            right: -10px;
            top: 50%;
            transform: translate(0, -50%);
            cursor: pointer;

            a {
              font-size: 0;

              &:after {
                content: "+";
                font-size: 45px;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                display: inline-block;
                font-weight: 100;
                color: #d2d2d2;
              }
            }
          }
        }
      }
    }
  }

  &__empty {
    display: none;
    font-size: 16px;
    text-align: center;
    color: #303030;
    padding: 30px;
    float: left;
    width: 100%;
    padding-top: 100px;

    a {
      width: 70%;
      height: 50px;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      letter-spacing: 2px;
      color: #000;
      background: #transparent;
      border: 1px solid #000000;
      text-transform: uppercase;
      transition: all ease-in-out 0.3s;
      margin: 0 auto;
      margin-top: 30px;
    }

    strong {
      margin-bottom: 30px;
      display: block;

      svg {
        height: 105px;
        width: 110px;
      }

      svg path {
        fill: #d2d2d2;
      }
    }

    p {
      font-size: 20px;
      text-transform: uppercase;
      display: block;
      color: #000;
      background: #fff;
      width: 100%;
      text-align: center;
      font-weight: 700;
    }

    span {
      font-size: 15px;
      text-transform: uppercase;
      display: block;
      color: #000;
      background: #fff;
      width: 100%;
      text-align: center;
      line-height: 24px;
      font-weight: 100;
      letter-spacing: 1px;
      font-family: Lato;
      margin: 20px 0;
    }
  }

  &__total {
    float: left;
    width: 95%;
    margin: 10px 2% 0px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;

    .portal-totalizers-ref {
      width: 100%;
      float: left;
      padding: 0 20px;

      .amount-items-in-cart {
        .cartInfoWrapper {
          .title {
            display: none;
          }

          .amount-products {
            display: none;
          }

          .amount-items {
            display: none;
          }

          .amount-kits {
            display: none;
          }

          .total-cart {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            strong {
              text-transform: uppercase;

              span {
                color: #000;
                font-size: 0px;
                font-family: Lato;
                font-weight: 500;

                &:after {
                  content: "Total:";
                  font-size: 15px;
                  letter-spacing: 2px;
                }
              }
            }

            &-em {
              font-size: 22px;
              color: #000000;
              display: block;
              letter-spacing: 1px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  &__buy {
    margin: 0 auto;
    float: left;
    width: 100%;
    padding: 0 7%;
    display: flex;
    justify-content: center;

    a {
      width: 100%;
      height: 50px;
      font-size: 12px;

      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background: #000000;
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 0.18em;
      font-weight: 800;

      @include breakpoint("mobile") {
        background: #73bb3d;
      }
    }
  }

  &__continue {
    margin: 15px auto;
    float: left;
    width: 100%;
    padding: 0 2%;
    display: flex;
    justify-content: center;

    a {
      width: 90%;
      height: 50px;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      letter-spacing: 2px;
      color: #000;
      background: transparent;
      border: 1px solid #000000;
      text-transform: uppercase;
      transition: all ease-in-out 0.3s;
      margin: 0 auto;
    }
  }

  &__footer {
    width: 100%;
    float: left;
    margin-bottom: 40px;
  }
}

.js-overlayminicart {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000b8;
  z-index: 9;
  cursor: pointer;

  &.is--active {
    display: block;
  }
}

:root {
  --colorMain: #4375f1;
  --colorWhite: #ffffff;
  --colorSmoke: #f9f9f9;
  --colorBlack: #101010;
  --colorGray: #e8e8e8;
  --gradientStart: #eeeeee;
  --gradientMedium: #f9f9f9;
  --gradientFinish: #e2e2e2;
  --font: "Lato", sans-serif;
}

@keyframes gradientLoading {
  0% {
    background: var(--gradientStart);
  }

  50% {
    background: var(--gradientMedium);
  }

  100% {
    background: var(--gradientFinish);
  }
}

.project-minicart {
  display: block !important;

  &.is--active {
    .project-minicart__content {
      right: 0;
      transition: all ease-in-out 0.5s;
    }
  }

  .project-minicart__content {
    width: 35%;
    max-width: 395px;
    position: fixed;
    height: 100vh;
    right: -100%;
    transition: all ease-in-out 0.5s;
    z-index: 99999999999;
    top: 0;
    font-family: Lato;
    background: #fff;

    @include breakpoint("tablet") {
      width: 80%;
      max-width: none;
    }

    @include breakpoint("mobile") {
      width: 100%;
      max-width: none;
    }
  }

  &.is--loading {
    .project-minicart__products {}
  }

  &__close {
    font-size: 0;
    color: var(--colorBlack);
    text-transform: uppercase;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
    background: none;
    border: 0;
    letter-spacing: 1px;
    position: absolute;
    right: 20px;

    &:after {
      content: "+";
      display: block;
      transform: rotate(45deg);
      color: var(--colorBlack);
      font-size: 20px;
    }
  }

  &__header {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
    border-bottom: 1px solid #dbdbdb;

    h3 {
      font-size: 23px;
      text-transform: uppercase;
      display: block;
      padding: 20px 0;
      color: #393939;
      background: #fff;
      letter-spacing: 1px;
      width: 100%;
      text-align: center;
      font-weight: 600;
      font-family: Lato;
    }

    .e-minicart__header-close {
      background: none;
      border: none;
      position: absolute;
      right: 5.5%;
      cursor: pointer;
      font-family: auto;

      &:after {
        content: "+";
        font-size: 55px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        display: inline-block;
        font-weight: 100;
        color: #000;
      }
    }
  }

  &__products {
    padding: 20px;
    max-height: calc(100vh - 320px);
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;

    @include breakpoint('mobile') {
      max-height: calc(100vh - 380px);
      min-height: unset;

    }

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: #ffffff;
    padding: 10px 10px 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--colorGray);
    position: relative;

    @media (max-width: 768px) {
      padding: 10px 10px 8px;
    }

    &.is--loading {
      &:before {
        content: "";
        background: #f9f9f9;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
      }

      &:after {
        content: "";
        background: url("https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/images/loader-large.gif");
        background-size: 40px;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &-remove-button {
      font-size: 16px;
      font-weight: 700;
      transform: rotate(45deg);
      display: block;
      background: none;
      border: none;
      appearance: none;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: -9px;
    }

    &-image {
      width: 30%;

      img {
        width: 100%;
        display: block;
        height: auto;
      }
    }

    &-info {
      width: 65%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &-name {
      font-size: 12px;
      color: var(--colorBlack);
      display: block;
      width: 100%;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.5px;
      margin-bottom: 15px;
    }

    &-quantity {
      display: flex;
      align-items: center;
      width: 45%;
      border: 1px solid var(--colorBlack);

      &-less,
      &-plus {
        width: 33%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        button {
          appearance: none;
          color: var(--colorBlack);
          background: none;
          border: 0;
          cursor: pointer;
          outline: 0;
          font-size: 16px;
        }
      }

      &-input {
        color: var(--colorBlack);
        width: 33%;
        height: 30px;
        display: block;

        input {
          width: 100%;
          height: 28px;
          text-align: center;
          padding: 0;
          margin: 0;
          position: relative;
          left: -2px;
          font-size: 14px;
          font-weight: 600;
          border: 0;
          color: var(--colorBlack);
          outline: 0;
        }
      }
    }

    &-price {
      width: 52%;
      display: flex;
      justify-content: flex-end;

      p {
        color: var(--colorBlack);
        font-size: 16px;
        font-weight: 700;
      }
    }
  }

  &__empty {
    padding: 30px;
    text-align: center;
    font-size: 16px;
    color: var(--colorMain);
    text-transform: uppercase;
    line-height: 1.5;
  }

  &__shipping {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: var(--colorSmoke);

    >h3 {
      font-size: 16px;
      color: var(--colorBlack);
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 20px;
    }

    &-form {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      label {
        width: 70%;
      }

      input {
        width: 100%;
        height: 30px;
        border: 1px solid var(--colorBlack);
        padding: 0 5px;
        font-size: 12px;
      }

      button {
        width: 30%;
        background: var(--colorBlack);
        color: var(--colorWhite);
        height: 32px;
        border: 0;
        cursor: pointer;
        font-size: 12px;
        text-transform: uppercase;
      }
    }

    &-results {
      width: 100%;
      margin-top: 10px;
      font-size: 14px;
      text-align: center;
      color: var(--colorBlack);

      strong {
        font-weight: 700;
      }
    }
  }

  &__pricing {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    color: var(--colorBlack);

    p {
      font-size: 14px;
      text-transform: uppercase;

      strong {
        font-weight: 700;
        font-size: 22px;
        letter-spacing: 1px;
      }
    }
  }

  &__footer {
    width: 100%;
    display: block;
    padding: 20px;
    box-sizing: border-box;

    @media (max-width: 768px) {
      padding: 0 20px;
    }

    &-continue {
      border: 1px solid var(--colorBlack);
      color: var(--colorBlack);
      margin-bottom: 10px;
    }

    &-checkout {
      background: var(--colorBlack);
      color: var(--colorSmoke);
    }

    >a {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }
  }
}

.project-minicart__overlay {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000b8;
  z-index: 9;
  cursor: pointer;

  &.is--active {
    display: block;
  }
}