.e-newsletter{
     &__center{}
     &__header{
          h2{}
     }
     &__contents{}
     &__form{
          &--label{}
          &--legend{}
          &--input{}
     }
     &__success{}
     &__error{}
}