@import "../../common/scss/__config-base.scss";

.e-hightlight .flag.levemaispormenospolos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  width: 55px;
  height: 55px;
  border: 1px solid #292929;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  font-size: 0;
  z-index: 6;
  background: url(/arquivos/levemaispormenos.png?v1415484) center no-repeat!important;}
  @media only screen and (min-width: 100px) and (max-width: 767px) {
  .e-hightlight .flag.levemaispormenospolos {
    width: 40px;
    height: 40px;
    font-size: 0; } 
  }

.shelf {
  margin: 0 4%;
  position: relative;
  font-family: lato;

  > h2 {font-size: 0;}

  .slick-arrow {
    background: url(/arquivos/leftright.png?v=3) no-repeat center;
    width: 55px;
    height: 123px;
    font-size: 0;
    position: absolute;
    top: 35%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    @include breakpoint("mobile") {
      top: 50%;
      transform: translate(0%, -50%);
    }
    cursor: pointer;
    z-index: 8;
  }

  .slick-arrow.slick-prev {
    left: -30px;
    @include breakpoint("mobile") {
      left: -15px;
      background-size: 20px;
    }
  }
  .slick-arrow.slick-next {
    background: url(/arquivos/rightleft.png?v=3) no-repeat center;
    right: -80px;
    @include breakpoint("mobile") {
      right: -15px;
      background-size: 20px;
    }
  }

  .slick-slide {
    li {
      margin: auto;
      padding: 0 2%;

      @include breakpoint("mobile") {
        padding: 0 10%;
      }
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    li {
      width: calc(100% / 3 - 20px);
      margin: 0 10px;
      padding: 16px 0px;
      // transition: ease-in 0.3s;
      @include breakpoint("tablet") {
        width: calc(100% / 3 - 20px);
      }
      .e-product {
        &.scroll-product{
          border: 1px solid #f9f9f9;
        }
        &:hover {
          transition: 0.3s;
          .e-product__buy-button {
            opacity: 1;
            transition: 0.3s;
            @include breakpoint("mobile") {
              opacity: 0;
            }
            @include breakpoint("tablet") {
              opacity: 0;
            }
          }

          a {
            &.e-hover {
              position: absolute;
              top: 22px;
              left: 0;
              right: 0;
              display: block !important;

              @include breakpoint('mobile'){
                display: none !important;
              }
            }
          }
        }


        &.e-success {

          &:hover {
            transition: 0.3s;

            .e-variations {
              opacity: 1;
              @include breakpoint("mobile"){
                display: none;
              }
            }
          }
        }

        &__image {
          width: 100%;
          display: block;
          overflow: hidden;
          height: auto;
          margin-bottom: 15px;
          position: relative;
          .e-variations {
            opacity: 0;
            transition: 0.3s;
            background: #ffffff7a;
            position: absolute;
            z-index: 3;
            bottom: 45px;
            width: 100%;


            @include breakpoint("mobile"){
                display: none;
              }

            ul {
              display: flex;
              justify-content: center;
              li {
                font-size: 0;
                width: 22px;
                border-radius: 100%;
                height: 22px;
                margin: 10px 5px 0;
                cursor: pointer;
              }
              &.e-size-list {
                display: none;
                padding: 10px;
                text-align: center;
                span {
                  font-weight: 300;
                  font-size: 9px;
                  text-transform: uppercase;
                  margin-bottom: 5px;
                  display: block;
                  cursor: pointer;
                }
                p {
                  display: block;
                  width: 100%;
                  text-align: center;
                  font-size: 10px;
                  letter-spacing: 1px;
                  text-transform: uppercase;
                }
                li {
                  padding: 0;
                  font-size: 11px;
                  font-weight: 300;
                  display: inline-block;
                  text-align: center;
                  border: 1px solid #000;
                  width: 36px;
                  height: 36px;
                  line-height: 34px;
                  text-transform: uppercase;
                  &.is--active {
                    border: 2px solid #000;
                  }
                }
              }
              &.e-color-list {
                padding: 10px;
                p {
                  display: block;
                  width: 100%;
                  text-align: center;
                  font-size: 10px;
                  letter-spacing: 1px;
                }
                li {
                  padding: 0;
                  &.is--active {
                    border: 2px solid #000;
                  }
                  &:hover {
                    border: 2px solid #000; 
                  }
                }
              }
            }
          }
          @include breakpoint("mobile"){
            min-height: 200px;
            height: inherit;
          }
          > a {
            background: #f6f6f4;
          }

          img {
            width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
            mix-blend-mode: multiply;
            &.is--active {
              padding: 0 0 153px;
            }
          }
        }
        &__group {
          position: relative;
        }

        &__name {
          margin: 0 0 10px 0;

          @include ellipsis(1, 20px);
          text-align: center;
          @include breakpoint("mobile") {
            margin-top: 20px;
          }
          a {
            font-family: Lato;
            font-size: 10px;
            line-height: 20px;
            color: #000000;
            text-transform: uppercase;
            letter-spacing: 1px;
          }
        }

        &__color {
          .product-field {
            font-size: 0;

            ul {
              li {
                font-size: 16px;
                text-align: center;
                display: flex;
                justify-content: center;
                width: 100% !important;
                opacity: 0.5;
                margin: 0 !important;
                padding: 0 0 20px !important;
              }
            }
          }
        }

        &__price {
          margin: 0 0 15px 0;
          &--old {

            display: block;
            font-size: 11px;
            text-transform: uppercase;
            font-family: Lato;
            color: #000;
            font-weight: 500;
            text-decoration: line-through;
          }
          &--best {
            font-size: 14px;
            text-transform: uppercase;
            font-family: Lato;
            color: #000;
            font-weight: 600;
            &-single {
              font-size: 14px;
              color: #000;

              line-height: 27px;
              font-family: Lato;
            }
          }

          a {
            p {
              text-align: center;
            }
          }

          &--out-of-stock {
            a {
              height: 45px;
              text-align: center;
              line-height: 40px;
              color: #ccc;
              width: 100%;
              display: inline-block;
              font-weight: 700;
              font-size: 16px;
              text-transform: uppercase;
              margin-top: 42px;

              @include breakpoint("mobile") {
                line-height: 20px;
              }
            }
          }
          &--installments {
            font-size: 14px;
            margin: 5px 0 0 0;
            color: #000;

            @include breakpoint('mobile'){
              font-size: 12px;
            }
          }
        }
        &__buy-button {
          position: absolute;
          bottom: 0;
          z-index: 3;
          width: 100%;
          opacity: 0;
          transition: 0.3s;

          @include breakpoint("mobile"){
            display: none;
          }

          > span {

            &.e-alert {
              background: red;
              display: block;
              font-size: 9px;
              position: absolute;
              top: -3px;
              padding: 0 14px;
              border-radius: 3px;
              left: 0;
              right: 0;
              margin: auto;
              width: 173px;
              text-align: center;
              color: #FFF;
              text-transform: uppercase;
              font-weight: 700;
            }
          }

          > a {
            background-color: #292929;
            color: #fff;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            letter-spacing: 1px;
            font-family: Lato;
            span {
              margin-right: 15px;
              svg {
                @include breakpoint("mobile") {
                  width: 27px;
                }
              }
              @include breakpoint("mobile") {
                margin-right: 8px;
              }
            }
          }
        }
      }
    }
  }
}

.e-product__quantity {
  display: none !important;
}

.e-product-main__info--features {
  display: none;
}

.e-shelf {
  &__center {
    margin: 50px 6%;
    @include breakpoint("mobile"){
      margin: 50px 0;
    }
    .e-heading {
      text-align: center;

      &--title {
        font-size: 30px;
        font-family: Lato;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 30px;

        strong {
          display: block;
          font-size: 15px;
          font-weight: 400;

          @include breakpoint('mobile'){
            font-size: 12px;
          }
        }
      }
    }
  }
}

.e-shelf__carousel {
  position: relative;
  .slick-prev {
  }
}

.e-variations--center {
  display: flex;
  flex-wrap: wrap;
  display: none;
  position: absolute;
  bottom: 100%;
  width: 100%;
  top: -115px;
  z-index: 2;

  .slick-arrow {
    top: 50% !important;
    left: 96% !important;
    &.slick-prev {
      display: none !important;
    }
    @include breakpoint("mobile") {
      &.slick-next {
        background: url(/arquivos/next.png) center left no-repeat !important;
        filter: invert(1) !important;
        transform: rotate(-90deg) !important;
        top: 16% !important;
        left: 96% !important;
        width: 15px !important;
        height: 13px !important;
      }
    }
  }
  &.is--active {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  > span {
    font-size: 12px;
    font-family: Montserrat;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
    @include breakpoint("mobile") {
      display: none;
    }
  }
}
.e-variations-list {
  width: 100%;
  max-width: 250px;
  justify-content: center;
  margin-bottom: 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  li {
    padding: 0 !important;
    width: 72px !important;
    height: 72px;
    margin: 0 5px !important;
    border: 1px solid #000;
    cursor: pointer;
    overflow: hidden;
    @include breakpoint("mobile") {
      display: flex !important;
    }
    &.is--select {
      border: 2px solid #000;
    }
    img {
      width: 100%;
      height: auto;
    }
    @include breakpoint("tablet") {
      width: 61px !important;
      height: 61px;
    }
    @include breakpoint("mobile") {
      width: 42px !important;
      height: 42px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      margin: 0 0px !important;
      justify-content: center;
      border: none !important;
      &.is--select {
        border: 1.5px solid #000 !important;
      }
      span {
        background: brown;
        width: 65%;
        height: 65%;
        display: block;
        border-radius: 100%;
        &.color- {
          &Vermelho {
            background: red;
          }
          &Verde {
            background: green;
          }
          &Preto {
            background: black;
          }
          &Marrom {
            background: brown;
          }
        }
      }
      img {
        display: none;
      }
    }
  }
}

.js-pluscolor {
  width: 100%;
  display: block;
  text-align: center;

  font-size: 12px;
  font-family: Gotham;
  text-transform: lowercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin-bottom: 20px;
  cursor: pointer;
  @include breakpoint("mobile") {
    display: none;
  }
}


