<footer class="e-footer">
    <div class="e-footer__top">
        <div class="e-footer__center">
            <div class="e-footer__group">
                <div class="e-footer__group__right">
                    <div class="e-footer__top__item">
                        <h2>
                            CONHEÇA A CENTRAL FOODS
                        </h2>
                        <ul class="e-footer__top__item_list">
                            <li class="e-footer__top__item__list__link"><a>Lorem</a></li>
                            <li class="e-footer__top__item__list__link"><a>Lorem1</a></li>
                            <li class="e-footer__top__item__list__link"><a>Lorem2</a></li>
                        </ul>
                        <ul class="e-footer__top__item_list__social">
                            <li class="e-footer__top__item__list__social__item"><a>Lorem2</a></li>
                            <li class="e-footer__top__item__list__social__item"><a>Lorem2</a></li>
                            <li class="e-footer__top__item__list__social__item"><a>Lorem2</a></li>
                            <li class="e-footer__top__item__list__social__item"><a>Lorem2</a></li>
                        </ul>
                    </div>
                    <div class="e-footer__top__item">
                        <h2>
                            informações uteis
                        </h2>
                        <ul class="e-footer__top__item_list">
                            <li class="e-footer__top__item__list__link"><a>Lorem</a></li>
                            <li class="e-footer__top__item__list__link"><a>Lorem1</a></li>
                            <li class="e-footer__top__item__list__link"><a>Lorem2</a></li>
                            <li class="e-footer__top__item__list__link"><a>Lorem4</a></li>
                            <li class="e-footer__top__item__list__link"><a>Lorem5</a></li>
                            <li class="e-footer__top__item__list__link"><a>Lorem200</a></li>
                        </ul>
                    </div>
                    <div class="e-footer__top__item">
                        <h2>
                            formas de pagamentos
                        </h2>
                        <ul class="e-footer__top__item_list">
                            <li class="e-footer__top__item__list__link">Lorem</li>
                        </ul>
                        <ul class="e-footer__top__item_list__payments">
                            <li class="e-footer__top__item__list__payments_item"><a>Lorem2</a></li>
                            <li class="e-footer__top__item__list__payments_item"><a>Lorem2</a></li>
                            <li class="e-footer__top__item__list__payments_item"><a>Lorem2</a></li>
                            <li class="e-footer__top__item__list__payments_item"><a>Lorem2</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="e-footer__top__left">
                    <div class="e-footer__top__newsletter e-newsletter">
                        <div class="e-newsletter__title">
                            <h2>
                                CADASTRE-SE E RECEBA NOSSAS
                                <strong>NOVIDADES E PROMOÇÕES</strong>
                            </h2>
                        </div>
                        <div class="e-newsletter__text">
                            <p>
                                jlokiguoiehyqemhj3jreu3wrh
                            </p>
                        </div>
                        <form class="e-nesletter__form">
                            <input type="email"/>   
                            <button type="submit" >
                                OK
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="e-footer_bootom">
        <div class="e-footer_center">
            <div class="e-footer__bottom__copy">
                COPYRIGHT
            </div>
            <div class="e-footer__bottom__icon">
                <ul>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</footer>