<header class="e-header">
    <div class="e-header__top">
        <div class="e-header__center">
            <ul class="e-header__top__list">
                <li class="e-header__top__list__item">
                    <span>
                        <img src="#"/>
                    </span>
                    <p>
                        compra 100% segura
                    </p>
                </li>
                <li class="e-header__top__list__item">
                    <span>
                        <img src="#"/>
                    </span>
                    <p>
                        5% off na primeira compra
                    </p>
                </li>
                <li class="e-header__top__list__item">
                    <span>
                        <img src="#"/>
                    </span>
                    <p>
                         entrega em 24 horas*
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="e-header__middle">
        <div class="e-header__center">
            <div class="e-header__middle__logo">
                <a>

                </a>
            </div>
            <form class="e-header__middle__search">
                <input type="text" placeholder="o que você esta buscando"/>
                <button type="submit">

                </button>
            </form>
            <div class="e-header__middle__wishlist">
                <a>
                    <img src="#" />
                </a>
                <p>lista de</p>
                <p>compras</p>
            </div>
            <div class="e-header__middle__account">
                <span>
                    <img src="#" />
                </span>
                <strong>ola, visitante</strong>
                <p>minha conta</p>
            </div>
            <div class="e-header__middle__cart">
                <a>
                    <img src="#"/>
                </a>
            </div>
        </div>
    </div>
    <nav class="e-header__bottom">
        <div class="e-header__center">
            <ul class="e-header__bottom__menu">
                <li class="e-header__bottom_menu__item">
                    <a>açougue e peixaria</a>
                </li>
                <li class="e-header__bottom__menu__item">
                    <a>bebidas</a>
                </li>
                <li class="e-header__bottom__menu__item">
                    <a>congelados</a>
                </li>
                <li class="e-header__bottom__menu__item">
                    <a>linha sachê</a>
                </li>
                <li class="e-header__bottom__menu__item">
                    <a>orgânicos e saúdaveis</a>
                </li>
                <li class="e-header__bottom__menu__item">
                    <a>secos</a>
                </li>
                <li class="e-header__bottom__menu__item">
                    <a>ofertas</a>
                </li>
            </ul>
        </div>
    </nav>
</header>