.e-header{
    &__center{
        @include container-center;
    }
    &__top{

        &__list{

            &__item{
                
                span{
                    img{

                    }
                }
                p{

                }
            }
        }       
    }
    &__middle{
        &__logo{
            a{

            }
        }
        &__search{
            input{

            }
            button{

            }
        }
        &__wishlist{
            a{

            }
            p{

            }
        }
        &__account{
            span{
                img{

                }
            }
            strong{

            }
            p{

            }
        }
        &__cart{
            a{
                img{

                }
            }
        }

    }
    &__bottom{
        &__menu{
            &__item{

            }
        }
    }
}