.cart-template{
     &.full-cart{
          display: none;
          &.active{
               display: block;
          }
          .cart-template-holder{
               .cart{
                    &-items{
                         thead{
                              width: 100%;
                              tr{
                                   width: 100%;
                              }
                         }
                         tbody{
                              width: 100%;
                         }
                    }
               }
          }
     }
}