@mixin breakpoint($point, $value: 0) {
    @if $point == mobile {
        @media only screen
        and (min-width : 100px)
        and (max-width: 767px)
        { @content; }
    }

    @else if $point == tablet {
        @media only screen
        and (min-width : 768px)
        and (max-width : 1080px)
        { @content; }
    }

    @else if $point == desktop {
        @media only screen
        and (min-width : 1081px)
        and (max-width : 5000px)
        { @content; }
    }
    
    @else if $point == smalldesktop {
        @media only screen
        and (min-width : 1080px)
        and (max-width : 1200px)
        { @content; }
    }

    @else if $point == bigdesktop {
        @media only screen
        and (min-width : 1200px)
        and (max-width : 5000px)
        { @content; }
    }

    @else if $point == ultradesktop {
        @media only screen
        and (min-width : 1440px)
        and (max-width : 5000px)
        { @content; }
    }

    @else if $point == maxresolution {
        @media only screen
        and (min-width : 1920px)
        { @content; }
    }
    @else if $point == macbook {
        @media only screen
        and (min-width : 1279px)
        and (max-width : 1280px)
        { @content; }
    }

    @else {
        @media only screen
        and ($point: $value)
        { @content; }
    }
}

@mixin between-breakpoints($min, $max) {
    @media (min-width: $min) and (max-width: $max) {
        @content;
    }
}
