
@mixin hidden-heading {
    font-size : 0;
    width     : 1px;
    height    : 1px;
    display   : inline-block;
    overflow  : hidden;
    position  : absolute !important;
    border    : 0 !important;
    padding   : 0 !important;
    margin    : 0 !important;
    clip      : rect(1px 1px 1px 1px);
    clip      : rect(1px, 1px, 1px, 1px);
}

/**
 * Font Weight
 */
 @mixin font-weight($weight) {
    $output: $weight;

    @if map-has-key($weights, $weight) {
        $output: map-get($weights, $weight);
    }

    font-weight: $output;
}

@mixin ellipsis ($lines, $height){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    height: $height;
}

@mixin container-center{
    padding: 0 40px;
    margin: auto;
    width: 100%;
}