%button__shelf{
    @include rem(width, 200px);
    @include rem(height, 45px);
    @include rem(font-size, 12px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-main;
    color: $color-white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

