$font: 'Lato', sans-serif;
$fs:'Roboto', sans-serif;


@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-Medium.woff2.css') format('woff2'),
        url('ButlerStencil-Medium.woff.css') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil.woff2.css') format('woff2'),
        url('ButlerStencil.woff.css') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-ExtraBold.woff2.css') format('woff2'),
        url('ButlerStencil-ExtraBold.woff.css') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-Black.woff2.css') format('woff2'),
        url('ButlerStencil-Black.woff.css') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-UltraLight.woff2.css') format('woff2'),
        url('ButlerStencil-UltraLight.woff.css') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-Bold.woff2.css') format('woff2'),
        url('ButlerStencil-Bold.woff.css') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-Light.woff2.css') format('woff2'),
        url('ButlerStencil-Light.woff.css') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Butler';
    src: url('Butler-UltraLight.woff2.css') format('woff2'),
        url('Butler-UltraLight.woff.css') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Butler';
    src: url('Butler-Medium.woff2.css') format('woff2'),
        url('Butler-Medium.woff.css') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Butler';
    src: url('Butler-Light.woff2.css') format('woff2'),
        url('Butler-Light.woff.css') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Butler';
    src: url('Butler-Black.woff2.css') format('woff2'),
        url('Butler-Black.woff.css') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Butler';
    src: url('Butler-Bold.woff2.css') format('woff2'),
        url('Butler-Bold.woff.css') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Butler';
    src: url('Butler-ExtraBold.woff2.css') format('woff2'),
        url('Butler-ExtraBold.woff.css') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Butler';
    src: url('Butler.woff2.css') format('woff2'),
        url('Butler.woff.css') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

